# Python virtual environment
myenv/

# Python cache files
__pycache__/

# Environment variables file
.env

#Mujuco Menagerie
mujoco_menagerie/

#dataset
dataset/

#dataset
dataset_before/

#backups
backups/